* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}



@font-face{
  font-family: PopLight;
  src: url("fonts/Poppins-Light.ttf");
}

@font-face{
  font-family: PopRegular;
  src: url("fonts/Poppins-Regular.ttf");
}

@font-face{
  font-family: FuturaBold;
  src: url("fonts/FuturaLT-Bold.ttf");
}

@font-face{
  font-family: Futura;
  src: url("fonts/FuturaLT.ttf");
}



/*NAV BAR*/

header {
    display: flex;
    width: 100%;
    margin: auto;
    height: 10vh;
    align-items: center;
}


nav {  
    flex: 2;
    
}


.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

.nav-link {
    color: #1c1c1d;
    font-size: 15px;
    text-decoration: none;
    font-family: PopRegular;
    
}



/*HOME PAGE*/

.homepage {
    height: 100vh;
}
.content {
    position: relative;
    top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.logo {
  position: relative;
}

.logoin {
  position: absolute;
  top: 20%;
  left: 20%;
  height: 40%;

}

.infinite {
  position: absolute;
  top: 65%;
  left: 20%;
  height: 15%;
}

.rec {
   height: 100%; 
   width: 100%;
}




#sliding {
    overflow: hidden;
}

#sliding figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s sliding infinite;
}

#sliding figure img{
    float: left;
    width: 20%;
}

@keyframes sliding {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75%{
        left: -300%;
    }

    95%{
        left: -300%;
    }

    100%{
        left: -400%;
    }
}


/*ABOUT US*/

.aboutus {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 80px 10px;
    padding-left: 80px;
    padding-right: 80px;
  
  

}

.description {
    width: 50%;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}

.description-appear {
    
    opacity: 1;
    transform: translateY(0px);
}

.description h3{
    font-size: 45px;
    padding-bottom: 30px;
    font-family: FuturaBold;
    color: #444444;
}

.description p{
    padding: 20px 0px;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
    font-family: Futura;
}

/*Divider*/
.divider {
  display: grid;
  width: 100%;
  height: 250px;
  overflow: hidden;
  padding-top: 40px;
  font-size: 30px;
  padding-bottom: 50px;
  font-family: FuturaBold;
  color: #444444;
  display: grid;
  grid-template-columns: 1fr 1fr;


}

.divider-left {
  display: flex;
  justify-content: center;
}



/*GALLERY*/
.residential {
  display: flex;
  height: 50vh;
  
}

.room-gallery {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);

  
}

.room-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: PopLight;
  color: #696969;
  

}


.gallery-section{
    width: 100%;
    padding: 60px 0;
    
  }
  
  .inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  .gallery-section h1{
    text-align: center;
    text-transform: uppercase;
    color: #444444;
    font-family: FuturaBold;
    font-size: 50px;
  }
  
  .border{
    margin-top: 100px;
    margin-bottom: 100px ;
  }
  
  .gallery-section .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .gallery-retail {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .gallery-residential {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .gallery-office {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  
  .gallery-section .image{
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .gallery-section .image img{
    width: 100%;
    height: 100%;
    transition: 0.4s;
  }
  
  .gallery-section .image:hover img{
    transform: scale(1.1);
  }
  
  @media screen and (max-width:960px) {
    .gallery-section .image{
      flex: 33.33%;
    }
  }
  
  @media screen and (max-width:768px) {
    .gallery-section .image{
      flex: 50%;
    }
  }
  
  @media screen and (max-width:480px) {
    .gallery-section .image{
      flex: 100%;
    }
  }
  

  /*FOOTER*/

  .footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 10%;
    overflow: hidden;
    padding: 70px 0;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) , rgb(245, 245, 245));
  
  }

  .follow-us {
    color: rgb(161, 161, 161);
    font-family: PopRegular;

    display: flex;
    justify-content: center;
  }

  .social-logos{
    display: flex;
    justify-content: center;

    width: 100%;
    text-align: center;
  }


  .btn{
    display: inline-block;
    width: 90px;
    height: 90px;
  
    margin: 10px;

    color: #b9b9b9;
    overflow: hidden;
    position: relative;
  }
  .btn i{
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
  }
  .btn:hover i{
    transform: scale(1.2);
    color: #525252;
  }
 