* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*NAV BAR*/

header {
    display: flex;
    width: 100%;
    margin: auto;
    height: 10vh;
    align-items: center;
}


nav {  
    flex: 2;
    
}


.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

.nav-link {
    color: #1c1c1d;
    font-size: 15px;
    text-decoration: none;
    
}



/*HOME PAGE*/
.homepage {
    height: 100vh;
}
.content {
    position: relative;
    top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.logo {
    
    
    
}

.logo img{
    
   width: 100%;
}

.slider {
    
    flex-grow: 1;
}


#sliding {
    overflow: hidden;
}

#sliding figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s sliding infinite;
}

#sliding figure img{
    float: left;
    width: 20%;
}

@keyframes sliding {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75%{
        left: -300%;
    }

    95%{
        left: -300%;
    }

    100%{
        left: -400%;
    }
}