* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}



@font-face{
  font-family: PopLight;
  src: url("fonts/Poppins-Light.ttf");
}

@font-face{
  font-family: PopRegular;
  src: url("fonts/Poppins-Regular.ttf");
}

@font-face{
  font-family: FuturaBold;
  src: url("fonts/FuturaLT-Bold.ttf");
}

@font-face{
  font-family: Futura;
  src: url("fonts/FuturaLT.ttf");
}

@font-face{
  font-family: Helvetica;
  src: url("fonts/HelveticaLTStd-Light.otf");
}

/*NAV BAR*/

header {
    display: flex;
    width: 100%;
    margin: auto;
    height: 10vh;
    align-items: center;
}


nav {  
    flex: 2;
    
}


.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

.nav-link {
    color: #1c1c1d;
    font-size: 15px;
    text-decoration: none;
    font-family: PopRegular;
    
}




/*HOME PAGE*/

.homepage {
    height: 100vh;
}
.content {
    position: relative;
    top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.logo {
  position: relative;
}

.logoin {
  position: absolute;
  top: 20%;
  left: 20%;
  height: 40%;

}

.infinite {
  position: absolute;
  top: 65%;
  left: 20%;
  height: 15%;
}

.rec {
   height: 100%; 
   width: 100%;
}




#sliding {
    overflow: hidden;
}

#sliding figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s sliding infinite;
}

#sliding figure img{
    float: left;
    width: 20%;
}

@keyframes sliding {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75%{
        left: -300%;
    }

    95%{
        left: -300%;
    }

    100%{
        left: -400%;
    }
}



/*ABOUT US*/

.hidden-logo {
  display: none;
}

.aboutus-page {
  height: 100vh;
}

.aboutus {
    display: flex;
    
    justify-content: space-between;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10%;
  
}

.description {
    width: 50%;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}

.description-appear {
    opacity: 1;
    transform: translateY(0px);
}

.description h2{
    font-size: 40px;
    padding-bottom: 30px;
    font-family: FuturaBold;
    color: #444444;
    display: flex;
    justify-content: center;
}

.description p{
    padding: 20px 0px;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
    font-family: Futura;
    letter-spacing: 1px;
}

.profile {
  padding-top: 5%;
}

/*Divider*/
.divider {
  height: 30vh;
  font-size: 30px;
  font-family: FuturaBold;
  color: #444444;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
  position: relative;
  padding-top: 5%;

}

.divider-appear {
  
  opacity: 1;
  transform: translateY(0px);
}

.divider-left {
  position: absolute;
  left: 20%;

}



/*GALLERY*/
.residential {
  display: flex;
  height: 50vh;
  
}

.room-gallery {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);

  
}

.room-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: PopLight;
  color: #696969;
  

}


.gallery-section{
    width: 100%;
    padding: 60px 0;
    
  }
  
  .inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  .gallery-section h1{
    text-align: center;
    text-transform: uppercase;
    color: #444444;
    font-family: FuturaBold;
    font-size: 50px;
  }
  
  .border{
    margin-top: 100px;
    margin-bottom: 100px ;
  }
  
  .gallery-section .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .gallery-retail {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .gallery-residential {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .gallery-office {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  
  .gallery-section .image{
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .gallery-section .image img{
    width: 100%;
    height: 100%;
    transition: 0.4s;
  }
  
  .gallery-section .image:hover img{
    transform: scale(1.1);
  }
  
  @media screen and (max-width:960px) {
    .gallery-section .image{
      flex: 33.33%;
    }
  }
  
  @media screen and (max-width:768px) {
    .gallery-section .image{
      flex: 50%;
    }
  }
  
  @media screen and (max-width:480px) {
    .gallery-section .image{
      flex: 100%;
    }
  }
  

  /*FOOTER*/

  .footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 10%;
    overflow: hidden;
    padding: 70px 0;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) , rgb(245, 245, 245));
  
  }

  .follow-us {
    color: rgb(161, 161, 161);
    font-family: PopRegular;

    display: flex;
    justify-content: center;
  }

  .social-logos{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
  }


  .btn{
    display: inline-block;
    width: 90px;
    height: 90px;
  
    margin: 10px;

    color: #b9b9b9;
    overflow: hidden;
    position: relative;
  }
  .btn i{
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
  }
  .btn:hover i{
    transform: scale(1.2);
    color: #525252;
  }
 
  .follow-us-lol {
    color: rgb(161, 161, 161);
    font-family: PopRegular;
    font-size: 7px;
    display: flex;
    justify-content: center;
  }


  @media screen and (max-width:1100px) {
    .homepage {
      height: 60vh;
    }
    
    .aboutus-page{
      height: 200vh;
    }

    .aboutus {
      display: flex;
      flex-direction: column;
    }
  
    .description {
      min-width: 100%;
      line-height: 2;
    }
  
    .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 25%;
      padding-bottom: 0%;
    }
  
    .profile img {
      width: 40%;
    }
  
    .divider-left {
      
      left: 13%;
    
    }
    
  
    
    
    
  
  }
  
  @media screen and (max-width:960px) {
    .homepage {
      height: 70vh;
    }
    
    .aboutus-page{
      height: 190vh;
    }
    .profile {
      padding-top: 20%;
      padding-bottom: 10%;
    }

    .profile img {
      width: 50%;
    }
  
    .divider {
      height: 20vh;
    }

    .divider-left {
      
      left: 13%;
    
    }
    
  
    
    
  }
  
  @media screen and (max-width:768px) {
    .homepage {
      height: 110vh;
    }
  
    .content {
      top: 0%;
      display: flex;
      flex-direction: column;
    }
  
    .residential-page {
      height: 100vh;
    }
  
    .residential {
      display: flex;
      flex-direction: column;
    }
  
  .room-gallery {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
  
    
  }
  
  .room-description {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .aboutus {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
  
  }
  
  .divider-left {
      
    
    left: 34%;
  
  }
  
  
    
  
  }
  
  @media screen and (max-width:550px) {
    .homepage {
      height: 90vh;
    }
  
    .description h2 {
      font-size: 30px;
    }

    .description p{
      font-size: 15px;
      padding-right: 20px;
      padding-left: 20px;
    }

    .aboutus-page {
      height: 170vh;
    }

    .profile {
      padding-top: 40%;
    }
    .profile img {
      width: 70%;
    }

    .divider-left {
      left: 29%;
    }

    .residential-page {
      height: 80vh;
    }

    
  }

  @media screen and (max-width:400px) {
    .homepage {
      height: 55vh;
    }
  
    .description h2 {
      font-size: 30px;
    }

    .description p{
      font-size: 15px;
      padding-right: 20px;
      padding-left: 20px;
    }

    .aboutus-page {
      height: 160vh;
    }

    .profile {
      padding-top: 40%;
    }
    .profile img {
      width: 70%;
    }

    .divider-left {
      left: 20%;
    }

    .residential-page {
      height: 160vh;
    }

    
  }